@import 'tailwindcss';

@import './_reset.css';

:root {
  /* color */
  --background: #ffffff;
  --foreground: #171717;

  /* font */
  --font-noto-sans-kr: 'Noto Sans KR', sans-serif;
  --font-nanum-sans: 'Nanum Gothic', sans-serif;
  --font-sans: var(--font-noto-sans-kr), var(--font-nanum-sans), 'Pretendard', sans-serif;
}

html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
